.header {
  border: 1px solid;
  height: 60px;
}

.body-area{
    display: flex;
    flex-flow: wrap;
    height: 90vh;
    border: 1px solid;
}

.left-menu {
  border: 1px solid red;
  width: 200px;
  padding:5px;
}

.left-menu .thumb{
    height: 100px;
}
.left-menu img{
    height: 100px;
}
.left-menu ul{
    padding: 0px;
    list-style: none;
}
.left-menu .menu-list{
    /* border:1px solid; */
}
.left-menu li{
    margin-bottom:5px;
}
.left-menu li i{
    padding: 0px;
    width:15px;
    display: inline;
}
.left-menu li span{
    display: inline-block;
    line-height: 30px;
    font-size: 1.2em;
    vertical-align: top;
    word-break: break-all;
    padding-left: 2px;
}

.indent{
    margin-left: 15px;
    
}

.submenu{

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    height: 0px;
    position: relative;
    top: 0px;
    margin-left: 10px;
    opacity: 0;
}
.closed{
    height: 0px;
    top: 0px;
}

.open{
    opacity: 1;
    position: relative;
    /* border: 1px solid; */
    height: auto;
    top: 0px;
}

.main-body {
  border: 1px solid green;
  padding:5px;
  flex-grow:1;
}

.c-pointer{
    cursor: pointer;
}