* {
    box-sizing: border-box;
}

.header {
  /* border: 1px solid; */
  height: 60px;
}

.body-area{
    display: flex;
    flex-flow: wrap;
    height: 90vh;
    /* border: 1px solid; */
}

.left-menu {
  /* border: 1px solid red; */
  width: 200px;
  padding:5px;
}

.left-menu .thumb{
    height: 100px;
}
.left-menu img{
    height: 100px;
}
.left-menu ul{
    padding: 0px;
    list-style: none;
}
.left-menu .menu-list{
    /* border:1px solid; */
}
.left-menu li{
    margin-bottom:5px;
}
.left-menu li i{
    padding: 0px;
    width:15px;
    display: inline;
}
.left-menu li span{
    display: inline-block;
    line-height: 30px;
    font-size: 1.2em;
    vertical-align: top;
    word-break: break-all;
    padding-left: 2px;
}

.indent{
    margin-left: 15px;
    
}

.submenu{

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    height: 0px;
    position: relative;
    top: 0px;
    margin-left: 10px;
    opacity: 0;
}
.closed{
    height: 0px;
    top: 0px;
    display: none;
}

.open{
    display: inline-block;
    opacity: 1;
    position: relative;
    /* border: 1px solid; */
    height: auto;
    top: 0px;
}

.main-body {
  /* border: 1px solid green; */
  padding:5px;
  flex-grow:1;
}

.c-pointer{
    cursor: pointer;
}

.file-list{
    
    /* border: 1px solid; */
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: nowrap;
    margin: auto;
    width: 75vw;
    padding: 20px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-line-pack: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

}
 .file{
    /* border: 1px solid; */
    height: 200px;
    width: 200px;
    margin: 10px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    align-content: baseline;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    /* background-position-y: 0px; */
 }
 .file:hover{
     cursor:zoom-in;
     box-shadow: 0px 0px 5px #232020;
 }
 .file span{
     border:1px solid;
 }
 .modal-body{
    display: flex;
    justify-content: center;
    padding: 2px;
 }

 .modal-body img{
        max-height: 300px;
 }
 .modal-footer{
    text-align: center !important;
 }
 .modal-footer input{
  opacity: 0;
  width: 5px;
  position: fixed;
  left: -100%;
}