body {
    font-family: sans-serif;
    background-color: rgba(216, 216, 216, 0.83);
    margin: 0px;
 
}

.heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile{
    border-bottom:2px solid #d4d4d4;
    margin-bottom: 20px;
    height: 130px;
    background-color: #e6e6e6;
    padding: 15px;
    background-image: url('imgs/bkgrd.JPG');
    background-size: contain;
}

.profile .left{
    float: left;
}

.profile .right{
    float: left;
    margin-left: 20px;
}

.profile-name{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2em;
}

.profile-img{
    height: 140px;
}

.perm-view{
    width: 80%;
    height: 100vh;
    margin: auto;
}

.folders,.files {
    /* border: 1px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-bottom: 20px; */
}

.folder,.file{
    
    cursor: pointer;
    width: 300px;
    margin-right: 5px;
}
.file{
    
}

.folder{
    padding: 10px;
 
}
.folder .bck-img {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer; 
    box-shadow: 3px 10px 10px #636262;
}

.file .bck-img{
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer; 
    box-shadow: 3px 10px 10px #636262;
}
.folder img,
.file img{
    height: 50px;
    width: 50px;
}

.folder-name,
.file-name {
    font-weight: bold;
    margin-top: 10px;
}

.pop-wrapper{
    
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color:rgba(30, 31, 33, 0.7);
}
.pop-wrapper.hide{
    display: none;
}

.popup img{

    height: 50vh;;
}

.close-btn{
    cursor: pointer;
    color: white;
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
    position: fixed;
    right: 3px;
    top: -16px;
}

.file-view{
    width: 90%;
    height: 88vh;
    position: fixed;
    top: 5%;
    left: 5%;
}

.file-view .name{
    font-size: 2em;
    border-bottom:1px solid #bcbdbf;
    padding: 6px;
    margin-bottom: 5px;
    color: #dedede;
}

.file-view .img{
     width: 100%;
     height: 90%;

}


iframe{
    width: 99.6%;
    height: 100%;
    margin: auto;
    border: none;
}
