body {}

.heading {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.profile{
    border-bottom:1px solid;
    margin-bottom: 20px;
}

.profile-img{
    height: 100px;
}

.perm-view{
    width: 80%;
    margin: auto;
}

.folders,.files {
    border: 1px solid red;
    display: flex;
    margin-bottom: 20px;
}

.folder,.file{
    border: 1px solid blue;
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.folder .bck-img,
.file .bck-img{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.folder img,
.file img{
    height: 50px;
    width: 50px;
}

.folder-name,
.file-name {
    font-weight: bold;
    color:purple;
}

