body {
    font-family: sans-serif;
}

.heading {
    font-size: 2em;
    font-weight: bold;
    
    margin-bottom: 20px;
}

.profile{
    border-bottom:1px solid;
    margin-bottom: 20px;
}

.profile-img{
    height: 100px;
}

.perm-view{
    width: 80%;
    margin: auto;
}

.folders,.files {
    border: 1px solid red;
    display: flex;
    margin-bottom: 20px;
}

.folder,.file{
    border: 1px solid blue;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    cursor: pointer;
}

.folder .bck-img,
.file .bck-img{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.folder img,
.file img{
    height: 50px;
    width: 50px;
}

.folder-name,
.file-name {
    font-weight: bold;
    color:purple;
}

.pop-wrapper{
    
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color:rgba(30, 31, 33, 0.7);
}
.pop-wrapper.hide{
    display: none;
}

.popup{
    border: 1px solid;
}

.close-btn{
    cursor: pointer;
    color: white;
    float: right;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}

